<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo Freunde des Tanzes,</h1>
    <p>hiermit bestätigen wir eure Anmeldung. Wir freuen uns schon darauf, euch als Gäste zu begrüßen!</p>

    <h2> Folgende Anmeldedaten wurden hinterlegt: </h2>
    <b>Vorname(n): </b><%= @registration.first_name %>
    </br>
    <b> Nachname(n): </b><%= @registration.last_name %>

    <p>
      Falls ihr noch eine Frage habt, schreibt doch bitte eine E-Mail an funection@outlook.com
    </p>

    <h2>Wichtig:</h2>
    <p>
      Eure Anmeldung ist erst dann gültig, wenn wir das Eintrittsgeld erhalten haben! (Ist unser Gästelimit erreicht, sind die dabei, die zuerst bezahlt haben.)
    </p>
    <p> Es wurde(n) <%= @registration.persons %> Person(en) angemeldet also müsstest du bitte <%= @registration.persons * 10 %> Euro überweisen(10 Euro pro Person).

    <b>Die Kontodaten lauten:</b>
    </br>
    Harald Firchau
    </br>
    IBAN: DE95 1605 0000 6522 1029 84
    </br>
    BIC: WELADED1PMB
    </br>
    Mittelbrandenburgische Sparkasse (MBS)

    <h2>Hier nochmal alle wichtigen Infos:</h2>
    <h2>Datum:</h2>
    <p>Samstag, den 12.03.2016</p>
    <h2>Einlass:</h2>
    <p>1. Teil: Zwischen 17.45 Uhr und 18.30 Uhr</p>
    <p>2. Teil: ab 21:30 Uhr</p>
    <h2>Ende:</h2>
    <p>Open End</p>
    <h2> Ort: </h2>
    <p>Kulturscheune Thyrow
    </br>
      Bahnhofstraße 89
    </br>
      14974 Trebbin
    </p>
    Parkplätze sind vorhanden.
    <h2>Essen:</h2>
    <p>
    	Alle, die zum ersten Teil kommen, bringen bitte Fingerfood fürs Buffet mit(Verzehr ohne Besteck). Die Menge wählt bitte entsprechend eurem Hunger.
    </p>
    <h2>Getränke:</h2>
    <p>
    	Gibt es vor Ort (z. B. 0,4l Cola – 0,50€)
    </p>
    <h2>Eintritt:</h2>
    <p>
    	Einmalig 10€ (enthalten sind u.a. die Raumkosten, Dekoration, Sound- und Licht-Anlage,..)
    </p>
    <h2>Dresscode:</h2>
    <p>
    	Das Motto verbirgt es mal wieder: Neon. Ob ihr jetzt euer  komplettes Outfit dem Motto entsprechend gestaltet, nur wirksame Highlights mit ausgewählten Accessoires setzt oder euch noch zusätzlich von der “5” inspirieren lasst - eurer Phantasie sind keine Grenzen gesetzt.
    </br>
      P.S. Dass eure Kleidung natürlich allen Anforderungen in Bezug auf Schicklichkeit und Ordentlichkeit gerecht wird, ist eine Selbstverständlichkeit und muss nicht extra erwähnt werden ;)
    </p>
    <h2>Programm:</h2>
    <p>
    	18:30 Uhr  Standard-Partnertänze, Line Dance, Gruppentanz
    	</br>
    	Ab ca. 22:00 Uhr Freestyle, Top 100, Electro, Black
    </p>
    </p>
    <h2>Noch etwas Grundlegendes:</h2>
    <p>
      Gerne könnt ihr auch noch einige eurer Freunde einladen. Bitte beachtet unbedingt, dass nur vorbildliche Verkündiger über 16 Jahren eingelassen werden, die sich vorher bei uns angemeldet haben. Wenn sich eure Freunde an uns wenden, sollten sie sich bitte auf euch beziehen, damit wir sie zuordnen können.
    </p>

    <p>
    <b>
       Wir freuen uns auf euch und einen tollen Abend!
    </b>
    </p>
    <p>
    Alles Liebe,
    </br>
    Euer Funection-Team,
    </p>
    <p>
    Rouven Behnke, Bianca & Marcel Matzat, Christian Besser, Lydia & Harald Firchau, David & Ketura Lüdtke und Katja Schultze
    </p>
  </body>
</html>