<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo Freunde des Tanzes,</h1>
    <p>hiermit bestätigen wir eure Anmeldung. Wir freuen uns schon darauf, euch als Gäste zu begrüßen!</p>

    <h2> Folgende Anmeldedaten wurden hinterlegt: </h2>
    <b>Vorname(n): </b><%= @registration.first_name %>
    </br>
    <b> Nachname(n): </b><%= @registration.last_name %>

    <p>
      Falls ihr noch eine Frage habt, schreibt doch bitte eine E-Mail an funection@outlook.com
    </p>

    <h2>Wichtig:</h2>
    <p>
      Eure Anmeldung ist erst dann gültig, wenn wir das Eintrittsgeld erhalten haben! (Ist unser Gästelimit erreicht, sind die dabei, die zuerst bezahlt haben.)
    </p>
    <p> Es wurde(n) <%= @registration.persons %> Person(en) angemeldet also müsstest du bitte <%= @registration.persons * 10 %> Euro überweisen(10 Euro pro Person).

    <b>Die Kontodaten lauten:</b>
    </br>
    Harald Firchau
    </br>
    IBAN: DE95 1605 0000 6522 1029 84
    </br>
    BIC: WELADED1PMB
    </br>
    Mittelbrandenburgische Sparkasse (MBS)


    <p>Hier nochmal alle wichtigen Infos: </p>
    
    <b>Datum:</b>
    <p> Samstag, den 09.02.2019 </p>
    <b>Einlass: </b>
    <p>Ab 18:00 Uhr: Einlass. Nutzt die Zeit für Gespräche, Snacks und Entspannung
    20:00 Uhr: Die Tanzfläche ist eröffnet
    </p>
    
    <b>Ende:</b>
    <p>Sonntag, den 10.02.2019 um 02:00 Uhr Morgens</p>
    
    <b>Ort:</b>
    <p>Kulturscheune Thyrow 
    Bahnhofstraße 89
    14974 Trebbin
    Parkplätze sind vorhanden.
    </p>
    
    
    <b>Essen:</b>
    <p>Bei so vielen Stunden Tanz bekommt bestimmt auch ihr mal Hunger. Deshalb die Bitte: Bringt doch einfach etwas zum Fingerfood-Buffet mit (also essbare Dinge, deren Verzehr ohne Besteck möglich ist). Bitte wählt die Menge entsprechend eurem Hunger.</p>
    
    <b>Getränke:</b>
    <p>Gibt es zum Selbstkostenbeitrag vor Ort (z. B. 0,4l Cola – 0,30€, Bier 0,5l - 0,60€ )</p>
    
    <b>Eintritt:</b>
    <p>Einmalig 10€ (enthalten sind u.a. die Raumkosten, Dekoration, Sound- und Licht-Anlage...)</p>
    
    <b>Dresscode:</b>
    <p>Das Motto verbirgt es mal wieder: Color - Farbig. Ob ihr jetzt euer komplettes Outfit dem Motto entsprechend gestaltet, nur wirksame Highlights mit ausgewählten Accessoires setzt oder euch einen Eimer Farbe über den Kopf gießt - eurer Phantasie sind keine Grenzen gesetzt.
       P.S. Dass eure Kleidung natürlich allen Anforderungen in Bezug auf Schicklichkeit und Ordentlichkeit gerecht wird, ist eine Selbstverständlichkeit und muss nicht extra erwähnt werden. ;)
    </p>

    <b>
    Programm:
    </b>
    <p> DJ-Show mit Live-Instrumenten </p>
    
    <b>Noch etwas Grundlegendes:</b>
    <p>Gerne könnt ihr auch noch einige eurer Freunde einladen. Bitte beachtet, sie sollten eng mit Jehovas Organisation verbundene Verkündiger sein.
    Wenn sich eure Freunde an uns wenden, sollten sie sich bitte auf euch beziehen, damit wir sie zuordnen können.
    </p>
    
    <b>Wichtig:</b>
    <p>Eure Anmeldung ist erst dann gültig, wenn wir das Eintrittsgeld erhalten haben! (Ist unser Gästelimit erreicht, sind die dabei, die zuerst bezahlt haben.)
    </p>
    
    <p>Wir freuen uns auf euch und einen tollen Abend!</p>
    
    <p>Alles Liebe,</p>
    
    <p>Euer Funection-Team</p>
  </body>
</html>