<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo zusammen,</h1>
    <p>wir möchten dir bestätigen, das deine Anmeldung vermerkt ist.</p>
    <p>Bitte denke daran, das Eintrittsgelt mit zur Feier zu bringen. Besser wäre es noch, wenn du das Geld vorher auf folgendes Konto überweisen würdest: </p>
    Harald Firchau
    </br>
    IBAN: DE95 1605 0000 6522 1029 84
    </br>
    BIC: WELADED1PMB
    </br>
    Mittelbrandenburgische Sparkasse (MBS)
    <p> Vielen Dank!</p>
    <p>
      Lieben Gruß,
    </br>
      Euer Funection-Team
    </p>
  </body>
</html>