.container
  %h2 Funection Control Center
  %h4 Button Funktionen:
  %b
    Wichtig: Bitte immer nur einmal auf einen Button klicken.
  %br
  %b
    Bestätigen:
  Schickt eine Bestätigungsmail
  %br
  %b
    Bezahlung:
  Schickt eine Zahlungsbestätigung
  %br
  %b
    Reservierung:
  Schickt eine Reservierungsbesätigung, dieser Status ist für die, die nicht überweisen sondern z.B. Bar zahlen.
  %br
  %b
    Absage:
  Schickt
  %b
    keine
  Email. Sortiert aber als Absage ein



  %div{"ng-controller" => "RegistrationApiCtrl", 'data-form-id' => SecureRandom.hex}
    .controls
      %select{'ng-model' => 'registration_filter', class: 'form-control', 'ng-initial' => 'Neuanmeldungen'}
        %option{:value => ""} Alle Anmeldungen
        %option{:value => "created"} Neuanmeldungen (Gerade über das Formular angemeldet)
        %option{:value => "confirmed"} Bestätigt (Alle deren Anmeldungen von uns bestätigt wurden, noch nicht bezahlt)
        %option{:value => "accepted"} Bezahlt/Abgeschlossen (Wurden Bestätigt und haben bezahlt)
        %option{:value => "declined"} Abgesagt oder Abgelehnte Anmeldungen (Haben abgesagt oder wurden abgelehnt)
        %option{:value => "reserved"} Reservierte Anmeldungen (Wurden bestätigt, haben aber nicht bezahlt)

    %p
      Bestätigt: {{registration_persons_confirmed}}, Abgeschlossen: {{registration_persons_accepted}}, Reserviert: {{registration_persons_reserved}}, Abgelehnt/Abgesagt: {{registration_persons_declined}}





    .div{"ng-if" => "!registration_filter"}
      = "Tabelle sortieren nach:"
      %select{'ng-model' => 'registration', class: 'form-control', 'ng-initial' => 'parts'}
        %option{:value => "first_name"} Vorname
        %option{:value => "last_name"} Nachname
        %option{:value => "email"} Email
        %option{:value => "acqu"} Kennt uns?
        %option{:value => "state"} Status
        %option{:value => "questions"} Fragen
        %option{:value => "parts"} Parts

      %br

      %table.table.table-bordered
        %thead
          %tr
            %th Vorname(n)
            %th Nachname(n)
            %th Email
            %th Kennt uns ?
            %th Personen
            %th Fragen
            %th Parts
            %th Pate:


        %tbody

          %tr{"ng-repeat" => "registration in registrations | orderBy:registration", "ng-style" => "colorize(registration)"}
            %td {{registration.first_name}}
            %td {{registration.last_name}}
            %td {{registration.email}}
            %td {{registration.acqu}}
            %td {{registration.persons}}
            %td {{registration.questions}}
            %td {{registration.parts}}
            %td {{registration.acquaintance}}


    .div{"ng-if" => "registration_filter"}
      .div{"ng-repeat" => "registration in registrations | filter:registration_filter"}
        .col-xs-4.wrap
          %p
            %b
              Vorname(n):
            {{registration.first_name}}
          %p
            %b
              Nachname(n):
            {{registration.last_name}}
          %p
            %b
              E-Mail:
            {{registration.email}}
          %p
            %b
              Kennt uns persönlich?
            {{registration.acqu}}
          %p
            %b
              Weitere Fragen:
            {{registration.questions}}
          %p
            %b
              Parts:
            {{registration.parts}}


          %p
            %button.btn.btn-success{'ng-if' => 'registration.state!="confirmed"', 'ng-click' => 'update(registration, 1)'} Bestätigung
            %button.btn.btn-warning{'ng-if' => 'registration.state!="accepted"','ng-click' => 'update(registration, 3)'} Bezahlung
            %button.btn.btn-info{'ng-if' => 'registration.state!="reserved"','ng-click' => 'update(registration, 4)'} Reservierung
            %button.btn.btn-default{'ng-if' => 'registration.state!="declined"','ng-click' => 'update(registration, 2)'} Absage

